body { 
	margin: 0;
	line-height: 1.5;
	color: #212121;
	font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p {
	margin: 0;
}


.container {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

ul{
	list-style: none;
}


/*header*/

.header{
	padding: 48px 0 28px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}

.header-nav{
	display: flex;
	flex-direction: row;
	align-items: center;
	
}

.header-logo{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	color:#212121;
	text-decoration: none;
	margin-right: 93px;

}

.header-logo--blue{
	color: #2196F3;

}

.header-links{
	display: flex;
	flex-direction: row;

	font-weight: 500;
	font-size: 14px;

	cursor: pointer;
}

.header-links a{
	text-decoration: none;
	color:#212121;
	margin-right: 50px;
}

.header-links a:hover{
	color: #2196F3
}

